
body {
    margin:0;
}
.wrapper {
    max-width: 800px;
    min-width: 400px;
}
nav {
    box-sizing: border-box;
    width: 200px;
    font-size: 9pt;
    float: left;
    height: 100vh;
    overflow: scroll;
    background-color: black;
    margin: 0 0px 0 0;
    padding: 0px 25px 0 15px;
}

.contents {
    float: left;
    box-sizing: border-box;
    height: 100vh;
    width: calc(100% - 200px);
    overflow: scroll;
    padding: 0 50px 20px 30px;
}

.img {
    width: calc(100%-300px);
}
.main_img {
    width: 100%;
}

.menu-head-cb {
    display:none;
}
.menu-head {
    display: block;
    margin: 5px;
    color: white;
}
.menu-head::before {
    content: "▶︎ "
}
.menu-head-cb:checked ~ .menu-head::before {
    content: "▼ "
}
.menu-content {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}
.menu-head-cb:checked ~ .menu-content {
}
.menu-item {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 17px;
    margin:0;
    border-radius: 5px;
    color: white;
}
.menu-link {
    display:block;
    text-decoration: none;
    color: white;
}
.focused {
    background-color: gray;
}

.sect-title {
    font-size: 12pt;
}
.content {
    width: 100%;
    font-size: 10pt;
    padding-bottom: 20px;
    border-bottom: solid 1px gray;
}
.note {
    font-size: 8pt;
}
